[filter "media"]
      required = true
      clean = git media clean %f
      smudge = git media smudge %f
[filter "hawser"]
      clean = git hawser clean %f
      smudge = git hawser smudge %f
      required = true
[filter "lfs"]
      clean = git-lfs clean -- %f
      smudge = git-lfs smudge -- %f
      process = git-lfs filter-process
      required = true
[include]
      path = ~/.gitconfig.local
[color]
      ui = auto
[user]
      name = Thomas W. Holt Jr.
      email = twh@pobox.com
[alias]
      co = checkout
      br = branch
      ci = commit
      st = status
      unstage = reset HEAD --
      last = log -1 HEAD
[credential]
      helper = osxkeychain
[pull]
      ff = only
